<a href="https://colab.research.google.com/github/freddy-7/IN1002B/blob/main/2_Valores_Nulos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Importamos las librerias pandas, numpy y matplotlib respectivamente
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
#Cargar archivo csv desde equipo
from google.colab import files
files.upload()

In [ ]:
#Carga desde un archivo .csv sin indice
data = pd.read_csv('inmuebles2.csv')
data.head(5)

In [ ]:
#Eliminar primera fila o filas innecesarias
data1= pd.read_csv('inmuebles2.csv', skiprows=1, low_memory=False)
data1

In [ ]:
#Eliminar columnas innecesarias
data2= data1.drop(['0','Referencia'], axis=1)
data2

In [15]:
#Identificar valores nulos por columna
valores_nulos=data2.isnull().sum()
valores_nulos

Fecha Alta        2
Tipo              2
Operación         1
Provincia         4
Superficie        4
Precio Venta      6
Fecha Venta     578
Vendedor        578
dtype: int64

**Métodos de Sustitución de Valores Nulos**

In [14]:
#Realizamos una copia del dataframe
data3=data2.copy()

In [ ]:
#Primer método de sustitución de valores nulos
#Sustituir valores nulos con promedio o media
data3["Superficie"]=data3["Superficie"].fillna(round(data2["Superficie"].mean(),1))

In [ ]:
#Corroboramos valores nulos
valores_nulos=data3.isnull().sum()
valores_nulos

In [ ]:
#Segundo método de sustitución de valores nulos
#Sustituir valores nulos con mediana
data3["Precio Venta"]=data3["Precio Venta"].fillna(round(data2["Precio Venta"].median(),1))

In [ ]:
#Corroboramos valores nulos
valores_nulos=data3.isnull().sum()
valores_nulos

In [ ]:
#Tercer método de sustitución de valores nulos
#Sustituir valores nulos por un valor numérico en  concreto 
data3["Fecha Alta"]= data3["Fecha Alta"].fillna(10) 
data3

In [ ]:
#Corroboramos valores nulos
valores_nulos=data3.isnull().sum()
valores_nulos

In [ ]:
#Cuarto método de sustitución de valores nulos
#Sustituir valores nulos por un string en  concreto 
data3["Fecha Venta"] =data3["Fecha Venta"].fillna("2030-06-19 00:00:00")

In [ ]:
#Corroboramos valores nulos
valores_nulos=data3.isnull().sum()
valores_nulos

In [ ]:
#Quinto método de sustitución de valores nulos
#Sustituir valores nulos por valores no nulos hacia adelante  "forward fill" ("ffill")
#Filtro por columnas
data3["Tipo"] =data3["Tipo"].fillna(method="ffill")

In [ ]:
#Corroboramos valores nulos
valores_nulos=data3.isnull().sum()
valores_nulos

In [26]:
#Sexto método de sustitución de valores nulos
#Sustituir valores nulos por valores no nulos hacia atrás backward fill" ("bfill")
#Filtro por columnas
data3["Operación"] =data3["Operación"].fillna(method="bfill")

In [ ]:
#Corroboramos valores nulos
valores_nulos=data3.isnull().sum()
valores_nulos

In [28]:
#Sustituir valores nulos por valores no nulos hacia atrás backward fill" ("bfill")
data3["Provincia"] =data3["Provincia"].fillna(method="bfill")

In [ ]:
#Corroboramos valores nulos
valores_nulos=data3.isnull().sum()
valores_nulos

In [30]:
#Sustituir valores nulos por valores no nulos hacia adelante forward fill" ("ffill")
#Filtro por columnas
data3["Vendedor"] =data3["Vendedor"].fillna(method="ffill")

In [ ]:
#Corroboramos valores nulos
valores_nulos=data3.isnull().sum()
valores_nulos

In [ ]:
#Corroboramos valores nulos en todo el dataframe
valores_nulos=data3.isnull().sum().sum()
valores_nulos

**Método de Eliminación de valores nulos**

In [ ]:
#Identificar valores nulos por columna
valores_nulos=data2.isnull().sum()
valores_nulos

In [34]:
#Realizamos una copia del dataframe
data4=data2.copy()

In [ ]:
#Eliminamos filas con nulos
data4= data2.dropna(0)
data4

In [ ]:
#Identificar valores nulos por columna
valores_nulos=data4.isnull().sum()
valores_nulos

**Comparamos DataFrame3(Sustitución) y Dataframe4(Eliminación)**

In [ ]:
data3.info()

In [ ]:
data4.info()

**Convertir DataSet sin valores nulos a CSV**

In [ ]:
#Convertir DataFrame a CSV
data3.to_csv("inmuebles_sin_nulos.csv")